<mat-card [ngClass]="{ 'text-center': !fullwidthMode }">
  <div [ngClass]="{ flex: fullwidthMode }">
    <img
      class="mb-1 mx-auto h-[200px]"
      [ngClass]="{ 'h-[200px]': !fullwidthMode, 'h-[350px]': fullwidthMode }"
      src="https://via.placeholder.com/150"
    />
    <div
      class="w-full"
      [ngClass]="{ 'px-8 flex flex-col justify-between ': fullwidthMode }"
    >
      <div>
        <h5>Shoes</h5>
        <p class="truncate hover:whitespace-normal">Snickers</p>
        <p>Description</p>
      </div>
      <div class="flex justify-between">
        <span class="text-red-400">{{ "150$" }}</span>
        <button>
          <mat-icon class="text-gray-500">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-card>
